p
{

}
body
{
font-family:Arial, sans-serif;
background-color:#f0f0f0;
text-align:center;
margin:2px;
padding:20px;
}
h1
{
color:White;
background:#333;
border-radius:100px;
}
h2
{
background:#444;
color:white;
border-radius:50px;
}
h3
{
background:#444;
color:white;
padding:8px;
border-radius:5px;
}
ul
{
list-style-type:none;
padding:0;
}
li
{
background:#ddd;
padding:8px;
margin:5px;
border-radius:5px;
}